//FONTS
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// COLORS
$light-grey: #c2c3c3;
$dark-grey: #615d67;
$dark-purple: #212121;
$bright-purple: #9154d0;
$dark-blue: #363842;

html {
  background-color: $dark-purple;
  font-family: Lato;

  font-size: 110%;
}

@mixin display-center($type, $justify, $align) {
  display: $type;
  justify-content: $justify;
  align-items: $align;
}

.content {
  height: 100vh;

  @include display-center(flex, center, center);
}

#drum-machine {
  background-color: $dark-grey;
  //height: 50vh;
  //width: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }
}



.drum-pads {
  order: -1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;


  @media only screen and (max-width: 500px) {
    order: 0;
  }
}

.drum-pad {
  @include display-center(flex, center, center);

  height: 15vh;
  width: 15vh;
  color: $light-grey;
  background-color: $dark-blue;

  
  transition: all 0.2s;
  cursor: pointer;

  &:active {
    // USAR JS PARA ISTO
    color: white;
    background-color: $bright-purple;
    box-shadow: 1px 1px 20px 2px $bright-purple;
    z-index: 10;
  }
}

.display {
  color: white;
  background-color: #415D43;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border-color: white;
  border: thick double #161925;
}

